<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367905998703-5fkejaqat1jd955pq0o9h3s1c2tffa6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367905998703-5fkejaqat1jd955pq0o9h3s1c2tffa6k</string>
	<key>API_KEY</key>
	<string>AIzaSyDo5A-cP6GTQASneM0Ys9rmGkxG5YEV5bw</string>
	<key>GCM_SENDER_ID</key>
	<string>367905998703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sepuhapp</string>
	<key>PROJECT_ID</key>
	<string>sepuhapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sepuhapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367905998703:ios:5d5f2ee0ca5841dd598a9a</string>
</dict>
</plist>